#navList{
  list-style-type: none !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

 #navigation li {
  float: left;
}

 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigation li a:hover {
  background-color: #111;
}

.indiv{
  text-align: center;
}
.example{
  position: relative;
  border: 5px solid #0080ff;
  border-radius: 100px;
  height: 200px;
  width: 500px;
  margin: auto;
}

html{
  background-color: pink;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tiptext {
  visibility: visible;
}
